//Primary
$softCyan: hsl(174, 77%, 80%); // Full Slider Bar
$strongCyan: hsl(174, 86%, 45%); //Slider Backround
$lightGrayishRed: hsl(14, 92%, 95%); //Discount Background
$lightRed: hsl(15, 100%, 70%); //Discount Text
$paleBlue: hsl(226, 100%, 87%); //CTA Text

//Neutral
$white: hsl(0, 0%, 100%); //Pricing Component Background
$veryPaleBlue: hsl(230, 50%, 98%); //Main Background
$lightGrayishBlueSlider: hsl(224, 65%, 95%); //Empty Slider Bar
$lightGrayishBlueToggle: hsl(223, 50%, 87%); //Toggle Background
$grayishBlue: hsl(225, 20%, 60%); //Text
$darkDesaturatedBlue: hsl(227, 35%, 25%); //Text & CTA Background

$sliderHover: #78eadc;
$sliderActive: #23aea1;

//Font Size
$font-10: 0.625rem; //10px
$font-11: 0.6875rem; //11px
$font-12: 0.75rem; //12px
$font-13: 0.8125rem; //13px
$font-14: 0.875rem; //14px
$font-15: 0.9375rem; //15px
$font-20: 1.25rem; //20px
$font-25: 1.5625rem; //25px
$font-27: 1.6875rem; //27px
$font-30: 1.875rem; //30px
$font-36: 2.25rem; //36px

$font-family: 'Manrope', sans-serif;

$weight-600: 600;
$weight-800: 800;